.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}


.header {
  padding: 20px 0;
  text-align: center;
}

.header p,
.header h1 {
  margin: 0;
}